.customInputText {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.customInputText input {
  padding: 4px;
  border: 1px solid #424242;
  border-radius: 2px;
}

.customInputText .inputErrorLog {
  font-size: 10px;
  color: #F44336;
  position: absolute;
  bottom: -12px;
  left: 0;
}
